.container {
    background-color: #fff8fc;
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: left;
    padding: 20px;
  }
  
  .left-container {
    margin-bottom: 20px;
    text-align: left;
  }

  .right-container {
    text-align: center;
  }
  .heading-1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(0, 0, 0);
    /* font-weight: 400; */
    margin-top: 8px;
    
  }
  .heading-2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(97, 97, 97);
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 30px;
  }
  
  h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(88, 88, 88);
    font-weight: 400;
    margin-top: 8px;
  }
  .btn{
    margin-top: 80px;
  }
  button {
    border: 2px solid rgb(33, 185, 250);
    border-radius: 30px;
    background-color: #fff8fc;
    padding: 10px 25px;
    font-size: 20px;
    color: rgb(33, 185, 250);
    cursor: pointer;
  }
  
  button:hover {
    background-color: rgb(33, 185, 250);
    color: #fff8fc;
  }
  
  .image {
    height: 370px;
    margin-left: 15%;
  }
  
  @media screen and (max-width:768px) {
    .container {
        display: flex;
        flex-direction: column;
        padding: 20px;
      }
      .image {
        height: 180px;
        margin-left: 1%;
      }
  }